/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */
/* line 64, ../sass/ng-animation.scss */
.toggle, .toggle-show {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 68, ../sass/ng-animation.scss */
.toggle.ng-enter, .toggle-show.ng-hide-remove {
  opacity: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  display: block !important; }

/* line 74, ../sass/ng-animation.scss */
.toggle.ng-enter-active, .toggle-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

/* line 78, ../sass/ng-animation.scss */
.toggle.ng-leave, .toggle-show.ng-hide-add {
  opacity: 1;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms; }

/* line 83, ../sass/ng-animation.scss */
.toggle.ng-leave-active, .toggle-show.ng-hide-add.ng-hide-add-active {
  opacity: 0; }

/* line 87, ../sass/ng-animation.scss */
.slide-right, .slide-left, .slide-top, .slide-down, .slide-right-show, .slide-left-show, .slide-top-show, .slide-down-show {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */
/* line 95, ../sass/ng-animation.scss */
.slide-top.ng-enter, .slide-top-show.ng-hide-remove {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 102, ../sass/ng-animation.scss */
.slide-top.ng-enter-active, .slide-top-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 107, ../sass/ng-animation.scss */
.slide-top.ng-leave, .slide-top-show.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 113, ../sass/ng-animation.scss */
.slide-top.ng-leave-active, .slide-top-show.ng-hide-add.ng-hide-add-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0; }

/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */
/* line 123, ../sass/ng-animation.scss */
.slide-right.ng-enter, .slide-right-show.ng-hide-remove {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 130, ../sass/ng-animation.scss */
.slide-right.ng-enter-active, .slide-right-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 135, ../sass/ng-animation.scss */
.slide-right.ng-leave, .slide-right-show.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 141, ../sass/ng-animation.scss */
.slide-right.ng-leave-active, .slide-right-show.ng-hide-add.ng-hide-add-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0; }

/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */
/* line 151, ../sass/ng-animation.scss */
.slide-left.ng-enter, .slide-left-show.ng-hide-remove {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 158, ../sass/ng-animation.scss */
.slide-left.ng-enter-active, .slide-left-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 163, ../sass/ng-animation.scss */
.slide-left.ng-leave, .slide-left-show.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 169, ../sass/ng-animation.scss */
.slide-left.ng-leave-active, .slide-left-show.ng-hide-add.ng-hide-add-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0; }

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
/* line 178, ../sass/ng-animation.scss */
.slide-down.ng-enter, .slide-down-show.ng-hide-remove {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 185, ../sass/ng-animation.scss */
.slide-down.ng-enter-active, .slide-down-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 190, ../sass/ng-animation.scss */
.slide-down.ng-leave, .slide-down-show.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 196, ../sass/ng-animation.scss */
.slide-down.ng-leave-active, .slide-down-show.ng-hide-add.ng-hide-add-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0; }

/* line 202, ../sass/ng-animation.scss */
.bouncy-slide-right, .bouncy-slide-left, .bouncy-slide-top, .bouncy-slide-down, .bouncy-slide-right-show, .bouncy-slide-left-show, .bouncy-slide-top-show, .bouncy-slide-down-show {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */
/* line 210, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter, .bouncy-slide-top-show.ng-hide-remove {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 217, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-enter-active, .bouncy-slide-top-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 222, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave, .bouncy-slide-top-show.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 228, ../sass/ng-animation.scss */
.bouncy-slide-top.ng-leave-active, .bouncy-slide-top-show.ng-hide-add.ng-hide-add-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */
/* line 237, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter, .bouncy-slide-right-show.ng-hide-remove {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 244, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-enter-active, .bouncy-slide-right-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 249, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave, .bouncy-slide-right-show.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 255, ../sass/ng-animation.scss */
.bouncy-slide-right.ng-leave-active, .bouncy-slide-right-show.ng-hide-add.ng-hide-add-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */
/* line 265, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter, .bouncy-slide-left-show.ng-hide-remove {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 272, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-enter-active, .bouncy-slide-left-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1; }

/* line 277, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave, .bouncy-slide-left-show.ng-hide-add {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 283, ../sass/ng-animation.scss */
.bouncy-slide-left.ng-leave-active, .bouncy-slide-left-show.ng-hide-add.ng-hide-add-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
/* line 292, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter, .bouncy-slide-down-show.ng-hide-remove {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 299, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-enter-active, .bouncy-slide-down-show.ng-hide-remove.ng-hide-remove-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1; }

/* line 304, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave, .bouncy-slide-down-show.ng-hide-add {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 310, ../sass/ng-animation.scss */
.bouncy-slide-down.ng-leave-active, .bouncy-slide-down-show.ng-hide-add.ng-hide-add-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0; }

/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */
/* line 321, ../sass/ng-animation.scss */
.scale-fade, .scale-fade-show {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 325, ../sass/ng-animation.scss */
.scale-fade.ng-enter, .scale-fade-show.ng-hide-remove {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 332, ../sass/ng-animation.scss */
.scale-fade.ng-enter-active, .scale-fade-show.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* line 337, ../sass/ng-animation.scss */
.scale-fade.ng-leave, .scale-fade-show.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 343, ../sass/ng-animation.scss */
.scale-fade.ng-leave-active, .scale-fade-show.ng-hide-add.ng-hide-add-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0; }

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */
/* line 352, ../sass/ng-animation.scss */
.spin-toggle, .spin-toggle-show {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 356, ../sass/ng-animation.scss */
.spin-toggle.ng-enter, .spin-toggle-show.ng-hide-remove {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 363, ../sass/ng-animation.scss */
.spin-toggle.ng-enter-active, .spin-toggle-show.ng-hide-remove.ng-hide-remove-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1; }

/* line 368, ../sass/ng-animation.scss */
.spin-toggle.ng-leave, .spin-toggle-show.ng-hide-add {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 374, ../sass/ng-animation.scss */
.spin-toggle.ng-leave-active, .spin-toggle-show.ng-hide-add.ng-hide-add-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0; }

/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */
/* line 384, ../sass/ng-animation.scss */
.scale-fade-in, .scale-fade-in-show {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 388, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter, .scale-fade-in-show.ng-hide-remove {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 0;
  display: block !important; }

/* line 395, ../sass/ng-animation.scss */
.scale-fade-in.ng-enter-active, .scale-fade-in-show.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* line 400, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave, .scale-fade-in-show.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  opacity: 1; }

/* line 406, ../sass/ng-animation.scss */
.scale-fade-in.ng-leave-active, .scale-fade-in-show.ng-hide-add.ng-hide-add-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */
/* line 416, ../sass/ng-animation.scss */
.bouncy-scale-in, .bouncy-scale-in-show {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 420, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter, .bouncy-scale-in-show.ng-hide-remove {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 0;
  display: block !important; }

/* line 427, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-enter-active, .bouncy-scale-in-show.ng-hide-remove.ng-hide-remove-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1; }

/* line 432, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave, .bouncy-scale-in-show.ng-hide-add {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transition-duration: 450ms;
  -webkit-transition-duration: 450ms;
  opacity: 1; }

/* line 438, ../sass/ng-animation.scss */
.bouncy-scale-in.ng-leave-active, .bouncy-scale-in-show.ng-hide-add.ng-hide-add-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0; }

/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */
/* line 448, ../sass/ng-animation.scss */
.flip-in, .flip-in-show {
  -webkit-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0 cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */ }

/* line 452, ../sass/ng-animation.scss */
.flip-in.ng-enter, .flip-in-show.ng-hide-remove {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 0.7;
  display: block !important; }

/* line 459, ../sass/ng-animation.scss */
.flip-in.ng-enter-active, .flip-in-show.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1; }

/* line 464, ../sass/ng-animation.scss */
.flip-in.ng-leave, .flip-in-show.ng-hide-add {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1; }

/* line 470, ../sass/ng-animation.scss */
.flip-in.ng-leave-active, .flip-in-show.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0; }

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */
/* line 479, ../sass/ng-animation.scss */
.rotate-in, .rotate-in-show {
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */ }

/* line 483, ../sass/ng-animation.scss */
.rotate-in.ng-enter, .rotate-in-show.ng-hide-remove {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 0.7;
  display: block !important; }

/* line 490, ../sass/ng-animation.scss */
.rotate-in.ng-enter-active, .rotate-in-show.ng-hide-remove.ng-hide-remove-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1; }

/* line 495, ../sass/ng-animation.scss */
.rotate-in.ng-leave, .rotate-in-show.ng-hide-add {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  transition-duration: 550ms;
  -webkit-transition-duration: 550ms;
  opacity: 1; }

/* line 501, ../sass/ng-animation.scss */
.rotate-in.ng-leave-active, .rotate-in-show.ng-hide-add.ng-hide-add-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0.7; }
