/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */
/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */
/* line 59, ../sass/ng-animation.scss */
.toggle {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* line 63, ../sass/ng-animation.scss */
.toggle.ng-enter {
  opacity: 0;
}

/* line 67, ../sass/ng-animation.scss */
.toggle.ng-enter-active {
  opacity: 1;
}

/* line 71, ../sass/ng-animation.scss */
.toggle.ng-leave {
  opacity: 1;
}

/* line 75, ../sass/ng-animation.scss */
.toggle.ng-leave-active {
  opacity: 0;
}

/* line 79, ../sass/ng-animation.scss */
.slideRight, .slideLeft, .slideTop, .slideDown {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */
/* line 87, ../sass/ng-animation.scss */
.slideTop.ng-enter {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0;
}

/* line 92, ../sass/ng-animation.scss */
.slideTop.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 97, ../sass/ng-animation.scss */
.slideTop.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 102, ../sass/ng-animation.scss */
.slideTop.ng-leave-active {
  transform: translateY(60px);
  -ms-transform: translateY(60px);
  -webkit-transform: translateY(60px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */
/* line 112, ../sass/ng-animation.scss */
.slideRight.ng-enter {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0;
}

/* line 117, ../sass/ng-animation.scss */
.slideRight.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 122, ../sass/ng-animation.scss */
.slideRight.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 127, ../sass/ng-animation.scss */
.slideRight.ng-leave-active {
  transform: translateX(60px);
  -ms-transform: translateX(60px);
  -webkit-transform: translateX(60px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */
/* line 137, ../sass/ng-animation.scss */
.slideLeft.ng-enter {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}

/* line 142, ../sass/ng-animation.scss */
.slideLeft.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 147, ../sass/ng-animation.scss */
.slideLeft.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 152, ../sass/ng-animation.scss */
.slideLeft.ng-leave-active {
  transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  -webkit-transform: translateX(-60px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */
/* line 161, ../sass/ng-animation.scss */
.slideDown.ng-enter {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0;
}

/* line 166, ../sass/ng-animation.scss */
.slideDown.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 171, ../sass/ng-animation.scss */
.slideDown.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 176, ../sass/ng-animation.scss */
.slideDown.ng-leave-active {
  transform: translateY(-60px);
  -ms-transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  opacity: 0;
}

/* line 182, ../sass/ng-animation.scss */
.bouncySlideRight, .bouncySlideLeft, .bouncySlideTop, .bouncySlideDown {
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */
/* line 190, ../sass/ng-animation.scss */
.bouncySlideTop.ng-enter {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}

/* line 195, ../sass/ng-animation.scss */
.bouncySlideTop.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 200, ../sass/ng-animation.scss */
.bouncySlideTop.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 205, ../sass/ng-animation.scss */
.bouncySlideTop.ng-leave-active {
  transform: translateY(240px);
  -ms-transform: translateY(240px);
  -webkit-transform: translateY(240px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */
/* line 214, ../sass/ng-animation.scss */
.bouncySlideRight.ng-enter {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0;
}

/* line 219, ../sass/ng-animation.scss */
.bouncySlideRight.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 224, ../sass/ng-animation.scss */
.bouncySlideRight.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 229, ../sass/ng-animation.scss */
.bouncySlideRight.ng-leave-active {
  transform: translateX(240px);
  -ms-transform: translateX(240px);
  -webkit-transform: translateX(240px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */
/* line 239, ../sass/ng-animation.scss */
.bouncySlideLeft.ng-enter {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0;
}

/* line 244, ../sass/ng-animation.scss */
.bouncySlideLeft.ng-enter-active {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 249, ../sass/ng-animation.scss */
.bouncySlideLeft.ng-leave {
  transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  opacity: 1;
}

/* line 254, ../sass/ng-animation.scss */
.bouncySlideLeft.ng-leave-active {
  transform: translateX(-240px);
  -ms-transform: translateX(-240px);
  -webkit-transform: translateX(-240px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */
/* line 263, ../sass/ng-animation.scss */
.bouncySlideDown.ng-enter {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0;
}

/* line 268, ../sass/ng-animation.scss */
.bouncySlideDown.ng-enter-active {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 273, ../sass/ng-animation.scss */
.bouncySlideDown.ng-leave {
  transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 278, ../sass/ng-animation.scss */
.bouncySlideDown.ng-leave-active {
  transform: translateY(-240px);
  -ms-transform: translateY(-240px);
  -webkit-transform: translateY(-240px);
  opacity: 0;
}

/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */
/* line 289, ../sass/ng-animation.scss */
.scaleFade {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* line 293, ../sass/ng-animation.scss */
.scaleFade.ng-enter {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}

/* line 298, ../sass/ng-animation.scss */
.scaleFade.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 303, ../sass/ng-animation.scss */
.scaleFade.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 308, ../sass/ng-animation.scss */
.scaleFade.ng-leave-active {
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  opacity: 0;
}

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */
/* line 317, ../sass/ng-animation.scss */
.spinToggle {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* line 321, ../sass/ng-animation.scss */
.spinToggle.ng-enter {
  transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  opacity: 0;
}

/* line 326, ../sass/ng-animation.scss */
.spinToggle.ng-enter-active {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1;
}

/* line 331, ../sass/ng-animation.scss */
.spinToggle.ng-leave {
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  opacity: 1;
}

/* line 336, ../sass/ng-animation.scss */
.spinToggle.ng-leave-active {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  opacity: 0;
}

/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */
/* line 346, ../sass/ng-animation.scss */
.scaleFadeIn {
  -webkit-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* line 350, ../sass/ng-animation.scss */
.scaleFadeIn.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}

/* line 355, ../sass/ng-animation.scss */
.scaleFadeIn.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 360, ../sass/ng-animation.scss */
.scaleFadeIn.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 365, ../sass/ng-animation.scss */
.scaleFadeIn.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}

/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */
/* line 375, ../sass/ng-animation.scss */
.bouncyScaleIn {
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 450ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}

/* line 379, ../sass/ng-animation.scss */
.bouncyScaleIn.ng-enter {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}

/* line 384, ../sass/ng-animation.scss */
.bouncyScaleIn.ng-enter-active {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 389, ../sass/ng-animation.scss */
.bouncyScaleIn.ng-leave {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 394, ../sass/ng-animation.scss */
.bouncyScaleIn.ng-leave-active {
  transform: scale(3);
  -ms-transform: scale(3);
  -webkit-transform: scale(3);
  opacity: 0;
}

/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */
/* line 404, ../sass/ng-animation.scss */
.flipIn {
  -webkit-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 550ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  /* easeOutQuad */
}

/* line 408, ../sass/ng-animation.scss */
.flipIn.ng-enter {
  transform: perspective(300px) rotateX(90deg);
  -ms-transform: perspective(300px) rotateX(90deg);
  -webkit-transform: perspective(300px) rotateX(90deg);
  opacity: 0.7;
}

/* line 413, ../sass/ng-animation.scss */
.flipIn.ng-enter-active {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1;
}

/* line 418, ../sass/ng-animation.scss */
.flipIn.ng-leave {
  transform: perspective(300px) rotateX(0deg);
  -ms-transform: perspective(300px) rotateX(0deg);
  -webkit-transform: perspective(300px) rotateX(0deg);
  opacity: 1;
}

/* line 423, ../sass/ng-animation.scss */
.flipIn.ng-leave-active {
  transform: perspective(300px) rotateX(135deg);
  -ms-transform: perspective(300px) rotateX(135deg);
  -webkit-transform: perspective(300px) rotateX(135deg);
  opacity: 0.7;
}

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */
/* line 432, ../sass/ng-animation.scss */
.rotateIn {
  -webkit-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1);
  /* older webkit */
  -webkit-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 550ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* easeOutBack */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1);
  /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.45, 1.595);
  /* custom */
}

/* line 436, ../sass/ng-animation.scss */
.rotateIn.ng-enter {
  transform: perspective(300px) rotateY(40deg);
  -ms-transform: perspective(300px) rotateY(40deg);
  -webkit-transform: perspective(300px) rotateY(40deg);
  opacity: 0.7;
}

/* line 441, ../sass/ng-animation.scss */
.rotateIn.ng-enter-active {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1;
}

/* line 446, ../sass/ng-animation.scss */
.rotateIn.ng-leave {
  transform: perspective(300px) rotateY(0deg);
  -ms-transform: perspective(300px) rotateY(0deg);
  -webkit-transform: perspective(300px) rotateY(0deg);
  opacity: 1;
}

/* line 451, ../sass/ng-animation.scss */
.rotateIn.ng-leave-active {
  transform: perspective(300px) rotateY(-40deg);
  -ms-transform: perspective(300px) rotateY(-40deg);
  -webkit-transform: perspective(300px) rotateY(-40deg);
  opacity: 0.7;
}
