/* ------------------------------------------- */
/* Mixins
/* ------------------------------------------- */

@mixin easingTimingFunction ($duration) {
	-webkit-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	-moz-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	-ms-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	 -o-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	    transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	-moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	-ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	 -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin bouncyTimingFunction ($duration) {
	-webkit-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1); /* older webkit */
	-webkit-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	   -moz-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	    -ms-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	     -o-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); 
	        transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */

	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1); /* older webkit */
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
	   -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
	    -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
	     -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); 
	        transition-timing-function: cubic-bezier(0.175, 0.885, 0.450, 1.595); /* custom */
}

@mixin easingOutQuadTimingFunction ($duration) {
	-webkit-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	   -moz-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	    -ms-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	     -o-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	        transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	    -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	     -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); 
	        transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

@mixin transform ($value) {
	transform: $value;
	-ms-transform: $value;
	-webkit-transform: $value;
}

/* ------------------------------------------- */
/* Toggle Fade  
/* ------------------------------------------- */

.toggle {
	@include easingTimingFunction(250ms);
}

.toggle.ng-enter {
	opacity: 0;
}

.toggle.ng-enter-active {
	opacity: 1;	
}

.toggle.ng-leave {
	opacity: 1;
}

.toggle.ng-leave-active {
	opacity: 0;	
}

.slide-right, .slide-left, .slide-top, .slide-down {
	@include easingTimingFunction(250ms);
}

/* ------------------------------------------- */
/* Slide Top 
/* ------------------------------------------- */

.slide-top.ng-enter {
	@include transform(translateY(60px)); 
	opacity: 0;
}

.slide-top.ng-enter-active {
	@include transform(translateY(0));
	opacity: 1;	
}

.slide-top.ng-leave {
	@include transform(translateY(0));
	opacity: 1;
}

.slide-top.ng-leave-active {
	@include transform(translateY(60px)); 
	opacity: 0;	
}


/* ------------------------------------------- */
/* Slide Rigth 
/* ------------------------------------------- */

.slide-right.ng-enter {
	@include transform(translateX(60px)); 
	opacity: 0;
}

.slide-right.ng-enter-active {
	@include transform(translateX(0));
	opacity: 1;	
}

.slide-right.ng-leave {
	@include transform(translateX(0));
	opacity: 1;
}

.slide-right.ng-leave-active {
	@include transform(translateX(60px)); 
	opacity: 0;	
}


/* ------------------------------------------- */
/* Slide Left 
/* ------------------------------------------- */

.slide-left.ng-enter {
	@include transform(translateX(-60px));
	opacity: 0;
}

.slide-left.ng-enter-active {
	@include transform(translateX(0));
	opacity: 1;	
}

.slide-left.ng-leave {
	@include transform(translateX(0));
	opacity: 1;
}

.slide-left.ng-leave-active {
	@include transform(translateX(-60px));
	opacity: 0;	
}

/* ------------------------------------------- */
/* Slide Down
/* ------------------------------------------- */

.slide-down.ng-enter {
	@include transform(translateY(-60px)); 
	opacity: 0;
}

.slide-down.ng-enter-active {
	@include transform(translateY(0));
	opacity: 1;	
}

.slide-down.ng-leave {
	@include transform(translateY(0));
	opacity: 1;
}

.slide-down.ng-leave-active {
	@include transform(translateY(-60px)); 
	opacity: 0;	
}


.bouncy-slide-right, .bouncy-slide-left, .bouncy-slide-top, .bouncy-slide-down {
	@include bouncyTimingFunction(450ms);
}

/* ------------------------------------------- */
/* Bouncy Slide Top 
/* ------------------------------------------- */

.bouncy-slide-top.ng-enter {
	@include transform(translateY(240px));
	opacity: 0;
}

.bouncy-slide-top.ng-enter-active {
	@include transform(translateY(0));
	opacity: 1;	
}

.bouncy-slide-top.ng-leave {
	@include transform(translateY(0));
	opacity: 1;
}

.bouncy-slide-top.ng-leave-active {
	@include transform(translateY(240px)); 
	opacity: 0;	
}

/* ------------------------------------------- */
/* Bouncy Slide Rigth 
/* ------------------------------------------- */

.bouncy-slide-right.ng-enter {
	@include transform(translateX(240px)); 
	opacity: 0;
}

.bouncy-slide-right.ng-enter-active {
	@include transform(translateX(0));
	opacity: 1;	
}

.bouncy-slide-right.ng-leave {
	@include transform(translateX(0));
	opacity: 1;
}

.bouncy-slide-right.ng-leave-active {
	@include transform(translateX(240px));
	opacity: 0;	
}


/* ------------------------------------------- */
/* Bouncy Slide Left 
/* ------------------------------------------- */

.bouncy-slide-left.ng-enter {
	@include transform(translateX(-240px));
	opacity: 0;	
}

.bouncy-slide-left.ng-enter-active {
	@include transform(translateX(0));
	opacity: 1;	
}

.bouncy-slide-left.ng-leave {
	@include transform(translateX(0));
	opacity: 1;
}

.bouncy-slide-left.ng-leave-active {
	@include transform(translateX(-240px));
	opacity: 0;	
}

/* ------------------------------------------- */
/* Bouncy Slide Down
/* ------------------------------------------- */

.bouncy-slide-down.ng-enter {
	@include transform(translateY(-240px));
	opacity: 0;
}

.bouncy-slide-down.ng-enter-active {
	@include transform(translateY(0));
	opacity: 1;	
}

.bouncy-slide-down.ng-leave {
	@include transform(translateY(0));
	opacity: 1;
}

.bouncy-slide-down.ng-leave-active {
	@include transform(translateY(-240px));
	opacity: 0;	
}



/* ------------------------------------------- */
/* Scale Fade 
/* ------------------------------------------- */

.scale-fade {
	@include easingTimingFunction(250ms);
}

.scale-fade.ng-enter {
	@include transform(scale(0.7));
	opacity: 0;
}

.scale-fade.ng-enter-active {
	@include transform(scale(1));
	opacity: 1;	
}

.scale-fade.ng-leave {
	@include transform(scale(1));
	opacity: 1;
}

.scale-fade.ng-leave-active {
	@include transform(scale(0.7)); 
	opacity: 0;	
}

/* ------------------------------------------- */
/* Spin Fade 
/* ------------------------------------------- */

.spin-toggle {
	@include easingTimingFunction(250ms);
}

.spin-toggle.ng-enter {
	@include transform(rotate(225deg));
	opacity: 0;
}

.spin-toggle.ng-enter-active {
	@include transform(rotate(0deg));
	opacity: 1;	
}

.spin-toggle.ng-leave {
	@include transform(rotate(0deg));
	opacity: 1;
}

.spin-toggle.ng-leave-active {
	@include transform(rotate(90deg)); 
	opacity: 0;	
}


/* ------------------------------------------- */
/* Scale in Fade 
/* ------------------------------------------- */

.scale-fade-in {
	@include easingOutQuadTimingFunction(250ms);
}

.scale-fade-in.ng-enter {
	@include transform(scale(3));
	opacity: 0;
}

.scale-fade-in.ng-enter-active {
	@include transform(scale(1));
	opacity: 1;	
}

.scale-fade-in.ng-leave {
	@include transform(scale(1));
	opacity: 1;
}

.scale-fade-in.ng-leave-active {
	@include transform(scale(3));
	opacity: 0;	
}


/* ------------------------------------------- */
/* Bouncy Scale in Fade 
/* ------------------------------------------- */

.bouncy-scale-in {
	@include bouncyTimingFunction(450ms);
}

.bouncy-scale-in.ng-enter {
	@include transform(scale(3));
	opacity: 0;
}

.bouncy-scale-in.ng-enter-active {
	@include transform(scale(1));
	opacity: 1;	
}

.bouncy-scale-in.ng-leave {
	@include transform(scale(1));
	opacity: 1;
}

.bouncy-scale-in.ng-leave-active {
	@include transform(scale(3));
	opacity: 0;	
}


/* ------------------------------------------- */
/* Flip In 
/* ------------------------------------------- */

.flip-in {
	@include easingTimingFunction(550ms);
}

.flip-in.ng-enter {
	@include transform(perspective(300px) rotateX(90deg));
	opacity: 0.7;
}

.flip-in.ng-enter-active {
	@include transform(perspective(300px) rotateX(0deg));
	opacity: 1;	
}

.flip-in.ng-leave {
	@include transform(perspective(300px) rotateX(0deg));
	opacity: 1;
}

.flip-in.ng-leave-active {
	@include transform(perspective(300px) rotateX(135deg)); 
	opacity: 0.7;	
}

/* ------------------------------------------- */
/* Rotate In 
/* ------------------------------------------- */

.rotate-in {
	@include bouncyTimingFunction(550ms);
}

.rotate-in.ng-enter {
	@include transform(perspective(300px) rotateY(40deg));
	opacity: 0.7;
}

.rotate-in.ng-enter-active {
	@include transform(perspective(300px) rotateY(0deg));
	opacity: 1;	
}

.rotate-in.ng-leave {
	@include transform(perspective(300px) rotateY(0deg));
	opacity: 1;
}

.rotate-in.ng-leave-active {
	@include transform(perspective(300px) rotateY(-40deg)); 
	opacity: 0.7;	
}
