<!DOCTYPE HTML>
<html lang="en-US" ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>ngAnimation - simple animation sulotion for angularjs</title>

  <script src="js/angular.min.js"></script>

  <!-- ngAnimation -->
  <script src="js/angular-animate.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/ng-animation.css">  
  <!-- /ngAnimation -->
  
  <script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>

  
</head>
<body ng-controller="AppController">

	<header>
		<h2>Angularjs ngAnimation <small>by Augus</small></h2>
	</header>

  <!-- Github buttons -->
	<iframe src="http://ghbtns.com/github-btn.html?user=Augus&repo=ngAnimate&type=fork&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="50"></iframe>
  <iframe src="http://ghbtns.com/github-btn.html?user=Augus&repo=ngAnimate&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="130" height="50"></iframe>
  <!-- /Github buttons -->

	<div class="sidebar">
		<div ng-repeat="animation in animations" class="btn block" ng-click="add(animation)">{{animation}}</div>
	</div>

	<div ng-show="list.length > 0" class="controls">
		<div class="btn remove" ng-click="clean()">Clean</div>		
	</div>

	<ul>
		<li class="item" ng-class="animation" ng-repeat="item in list" ng-click="remove(item)">{{item.title}}</li>
	</ul>

</body>
</html>